<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOB</title>

    <link rel="stylesheet" href="/static/style.css">
    <!-- bootsrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- script of bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- font awesome  -->


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</head>

<body>
    <!-- navbar  -->

    <section id="section-navbar   ">
        <nav class="navbar navbar-custom navbar-expand-lg navbar-light ">
            <a class="navbar-brand text-white" href="#">
                <img class="logo-image" src="/static/image/bank-of-baroda-logo-bob.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class=" nav-link active text-light" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/transaction">login</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link text-light" href="#">help</a>
                    </li>
                </ul>

            </div>
        </nav>
    </section>

    <!-- middle section  -->
    <section id="section-middile">
        <div class="container image-container">
            <img class="img-fluid image-box" src="/static/image/bannerFinal.jpg" alt="">
        </div>


    </section>
    <!-- call centre  -->
    <section id="customer-section-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img class="image-title " src="/static/image/call.jpg">
                </div>
                <div class="col-lg-6">
                    <div class="customer-container">
                        <h1 class="big-heading">Call Connect </h1>
                        <p>
                            A stock exchange facilitates stock brokers to trade company stocks and other securities. A
                            stock may be bought or sold only if it is listed on an exchange. Thus, it is the meeting
                            place of the stock buyers and sellers.


                        </p>
                        <button type="button" class="btn btn-primary btn-lg"><a class="login-button" href="/callcenter">
                                view </a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- carosal  -->
    <section id="section-carosal">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/image/1.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/2.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/3.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/4.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/image/5.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>
    <!-- power pi  -->
    <section id="customer-section-2">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <div class="customer-container">
                        <h1 class="big-heading">Data Analysis</h1>
                        <p>
                            Predict the stock prize of the customer
                        </p>
                        <button type="button" class="btn btn-primary btn-lg"><a class="login-button"
                                href="/predict">View
                                customer</a></button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="image-title " src="/static/image/8.webp">
                </div>
            </div>
        </div>
    </section>

    <!-- call center section  -->






    <!-- footer section  -->
    <section id="footersection">
        <!-- Footer -->
        <footer class="page-footer font-small mdb-color pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Bank of Baroda</h6>
                        <!-- <img class="logo-image" src="/static/image/bank-of-baroda-logo-bob.png" alt=""> -->
                        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit
                            amet,
                            consectetur
                            adipisicing elit.</p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a class="footer-link" href="#!">MDBootstrap</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">MDWordPress</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">BrandFlow</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Bootstrap Angular</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                        <p>
                            <a class="footer-link" href="#!">Your Account</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Become an Affiliate</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Shipping Rates</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Help</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                            <i class="fas fa-home mr-3"></i> Mumbai,400604, India
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> 2020.priyanshu.singh@ves.ac.in
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + 9082035567
                        </p>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Footer links -->

                <hr>

                <!-- Grid row -->
                <div class="row d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8">

                        <!--Copyright-->
                        <p class="text-center text-md-left">© 2020 Copyright@priyanshu

                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0">

                        <!-- Social buttons -->
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

        </footer>
        <!-- Footer -->
    </section>
</body>

</html>